@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar&display=swap");
.maps-container {
  color: white;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  .maps-main-view {
    width: calc(100% - 3.5rem);
    background: radial-gradient(
        66.5% 221.21% at 136.03% -61.44%,
        rgba(161, 155, 217, 0.4) 0%,
        rgba(161, 155, 217, 0) 92.09%
      ),
      radial-gradient(
        93.54% 126.91% at 29.15% -56.29%,
        rgba(51, 255, 112, 0.7) 0%,
        rgba(69, 162, 233, 0) 92.09%
      ),
      radial-gradient(
        86.19% 101.84% at -17.13% -24.8%,
        rgba(43, 157, 223, 0.877) 0%,
        rgba(0, 254, 241, 0) 92.09%
      ),
      #090039;
    z-index: 1;
    .maps-nav-bar {
      width: 100%;
      height: 5rem;
      header {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        .logo {
          height: 100%;
          display: flex;
          align-items: center;
          a {
            img {
              width: 125px;
              height: 34px;
            }
          }
        }
      }
    }
    .maps-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem;
      .maps-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(265px, 1fr));
        grid-gap: 2rem;
        // .maps-grid:nth-child(){
        //   display: none;
        // }
        .map {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #1a1a2e;
          border-radius: 0.5rem;
          box-shadow: 0 0.25rem 2.75rem rgb(32 17 46 / 20%),
            0 1.125rem 2.25rem -1.125rem rgb(0 0 0 / 24%),
            0 1.875rem 3.75rem -0.625rem rgb(0 0 0 / 16%);
          overflow: hidden;
          img {
            border-radius: 0.5rem 0.5rem 0 0;
            width: 100%;
            margin-bottom: 1rem;
            transition: all 0.3s ease-in-out;
          }
          div {
            // font-family: "Exo 2", sans-serif;
            color: rgb(195, 253, 114);
            font-size: 1.5rem;
          }
          div:hover {
            cursor: pointer;
            text-decoration: underline;
          }
          button {
            // font-family: "Exo 2", sans-serif;
            background-color: transparent;
            color: white;
            border: 1px solid white;
            border-radius: 25px;
            font-size: 15px;
            padding: 0.5rem 1.5rem 0.5rem 1.5rem;
            margin: 1rem;
            transition: all 0.1s ease;
          }
          button:hover {
            cursor: pointer;
            // transform: scale(1.07);
          }
          .map-details {
            font-size: 1rem;
            padding: 10px;
          }
        }
        // .map:hover {
        //   img {
        //     transform: translateY(-10%) scale(1.2);
        //   }
        // }
      }
      .maps-grid :nth-child(2){
        display: none;
      }
    }
  }
  .maps-side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 3.5rem;
    background-color: rgba(16, 16, 28, 0.949);
    z-index: 1;
    .side-bar-content {
      width: 100%;
      height: 100%;
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 1024px) {
  .maps-container {
    .maps-main-view {
      width: 100%;
      .maps-main {
        margin: 2rem 2rem 2rem 2rem;
      }
      .maps-nav-bar {
        header {
          padding-left: 1rem;
          padding-right: 1rem;
          .logo {
            a {
              img {
                width: 100px;
                height: 26px;
              }
            }
          }
        }
      }
    }
    .maps-side-bar {
      position: fixed;
      top: 0;
      right: -3.5rem;
    }
  }
}
@media only screen and (max-width: 380px) {
  .maps-container {
    .maps-main-view {
      .maps-main {
        margin: 2rem 1rem 2rem 1rem;
      }
    }
  }
}
