.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* Google maps map */
#map-container {
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 1;
  opacity: 0.5;
  transition: all 0.3s ease;
}

#map {
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}
#map-container:hover,
#map-container:active {
  opacity: 1;
}

#map-container:hover > #map {
  width: 680px !important;
  height: 500px !important;
}

#map-container.active {
  width: 100%;
  height: 100vh;
  opacity: 1;
  top: 0;
  left: 0;
}

#map-container.active > #map {
  width: 100% !important;
  height: 100% !important;
  border: none;
  border-radius: 0;
}

#progressBar {
  height: 10px;
  background-color: hsla(0, 0%, 100%, 0.2);
  width: 50%;
  border-radius: 30px;
}
#progress {
  background-color: #fecd19;
  /* width: 100%; */
  height: 100%;
  border-radius: 30px;
}

#nextRound,
#confirmButton,
#playAgain {
  padding: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 30px;
  border: none;
  color: white;
  width: 100%;
  opacity: 1;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  margin-top: 5px;
  transition: all 0.2s ease;
}
#nextRound:hover,
#confirmButton.active:hover,
#playAgain:hover {
  padding: 12px 22px 12px 22px;
  margin-top: 1px;
  cursor: pointer;
}

#nextRound,
#playAgain {
  width: auto;
  background-color: #6cb928;
}
#playAgain > Link {
  text-decoration: none;
  color: white;
}

#confirmButton.active {
  background-color: #6cb928;
}
#confirmButton.active:hover {
  padding: 12px 22px 12px 22px;
  margin-top: 1px;
}

#start {
  display: none;
}

/* remove google logo */
a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}
/* remove google shortcuts */
.gmnoprint a,
.gmnoprint span,
.gm-style-cc,
.gm-compass-turn,
.gm-compass img,
.gm-compass-tooltip-text,
.gm-compass-arrow-right-outer,
.gm-compass-arrow-right-inner {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
/* resized compass */
.gm-compass-needle > img {
  width: 70px;
  height: 70px;
}

.gm-compass-needle {
  display: flex !important;
  background-color: transparent !important;
}

/* zoom buttons /w compass */
.gm-bundled-control-on-bottom {
  position: fixed !important;
  left: 12px !important;
  bottom: 270px !important;
  margin: 0 !important;
  /* margin-left: 3px !important; */
}

.gmnoprint > div > button {
  border-radius: 90px;
  width: 39px !important;
  height: 39px !important;

  background-color: rgba(0, 0, 0, 0.605) !important;
  /* margin-bottom: 15px !important; */
}
.gmnoprint > div {
  display: flex !important;
  flex-direction: column;
  gap: 5px;
  height: auto !important;
  margin-top: 15px !important;
  box-shadow: none !important;
}
.gmnoprint > div > .gm-compass {
  /* margin-left: 3px; */
  margin-top: 30px !important;
}

/* starting point flag */
#startingPoint {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1;
  background-color: transparent;
  border: transparent;
}
#startingPoint > img {
  width: 23px;
  height: 23px;
  background-color: rgba(0, 0, 0, 0.605);
  padding: 8px;
  border-radius: 360px;
}
#startingPoint > img:hover {
  cursor: pointer;
}
#startingPoint.active {
  display: none;
}

.scoreboard {
  width: 100%;
  height: 40%;
  /* display: none; */
  background: linear-gradient(transparent, #000),
    linear-gradient(90deg, #28374c, #221d6c);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  gap: 15px;
}

.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.switch-col {
  display: flex;
  gap: 5px;
}

.score-board {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.605);
  color: white;
  padding: 5px;
  display: flex;
  gap: 20px;
}
.score-board > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roundPoints {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fecd19;
}

.App-link {
  color: #61dafb;
}

.cancel {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  border-radius: 50%;
  border: 1px solid black;
  right: 5px;
  align-items: center;
  justify-content: center;
  background: white;
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// @media only screen and (max-width: 680px) {
//   #map-container {
//     opacity: 1;
//     width: 100vw;
//     height: 50vh;
//     right: 0;
//     bottom: 1rem;
//     .cancel {
//       display: flex;
//     }
//     #map {
//       height: 100% !important;
//       width: 100% !important;
//     }
//   }
//   #map-container.hidden {
//     position: fixed !important;
//     bottom: -500px !important;
//     left: 0 !important;
//     .cancel {
//       position: fixed;
//       right: 20px;
//       top: 93vh;
//       display: flex;
//     }
//     #map {
//       height: 100% !important;
//       width: 100% !important;
//     }
//   }
// }
